# next
.next

# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# build
dist
coverage

# uploads
public/uploads/
uploads/

# logs
*.log
logs/

# prisma
prisma/dev.db
prisma/dev.db-shm
prisma/dev.db-wal

# cache
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db
